<!DOCTYPE html>
<html>
<head>
    <title>About Us</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="navbar">
        <a href="/">Homepage</a>
        <a href="/aboutUs">About Us</a>
        <a href="/faq">F.A.Q.s</a>
        <a href="/login">Login/Registration</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Feeling Lucky?</a>
    </div>

    <h1 class="title">About Us</h1>
    <h2 class="title">The Silver Surfer Snowboard Company</h2>
    
    <div class = "cartIcon">
        <a href="/cart">
        <img src="/images/shopping-cart.png">
        </a>
    </div>

    <div class="userIcon">
        <a href="/login">
            <img src="images/user-icon.png" alt="User">
        </a>
    </div>

    <div class="title">
        <img src="/images/company.jpg" alt="company pic" style="max-width: 500px; max-height: 300px;">
        <p><strong>Description:</strong> Hello! We sell snowboards and snowboard accessories. <br>
        If you're looking for stuff, we've got it! We've got snow stuff, snowboard stuff, goggles stuff, <br>
        boots stuff, gloves stuff. All kinds of stuff! Right here. Right now. Just a click away is stuff. <br>
        Our stuff. Here. Now. Click it. Buy it. Ship it. Own it. Use it. Rip it. Shred the gnar like your <br>
        life depends on it!</p>
    
    </div>
    <a href="/">Back to Home</a>


</body>
</html>