<!DOCTYPE html>
<html>
<head>
    <title>FAQ</title>
    <link rel="stylesheet" href="/styles.css">
    <meta name="viewport" content="width=device-width, initial-scale=1">

</head>
<body>
    
    <div id="navbar">
        <a href="/">Homepage</a>
        <a href="/aboutUs">About Us</a>
        <a href="/faq">F.A.Q.s</a>
        <a href="/login">Login/Registration</a>
        <a href="/logout">Logout</a>
        <!--<a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Feeling Lucky?</a>-->
    </div>

    <h1 class="title">The Silver Sufer Snowboard Shop</h1>
    <h2 class="title">Frequently Asked Questions</h2>
    
    <div class = "cartIcon">
        <a href="/cart">
        <img src="/images/shopping-cart.png">
        </a>
    </div>

    <div class="userIcon" style="text-align: center;">
        <a href="/<%= user ? 'profile' : 'login' %>">
            <img src="images/user-icon.png" alt="User">
        </a>
        <% if (user) { %>
            <p style="margin-top: 5px;"><%= user.name %></p>
        <% } %>
    </div>


    <div> <p><strong>Question:</strong></p>
            <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>
    
    <div> <p><strong>Question:</strong></p>
        <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>

    <div> <p><strong>Question:</strong></p>
        <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>

    <div> <p><strong>Question:</strong></p>
        <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>

    <div> <p><strong>Question:</strong></p>
        <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>

    <div> <p><strong>Question:</strong></p>
        <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>

    <div> <p><strong>Question:</strong></p>
        <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>

    <div> <p><strong>Question:</strong></p>
        <p>blah blah blah blah</p></div>
    <div> <p>Answer: blah blah blah blah blah<br><br></p></div>

    
    <a href="/" id="backButton">Back to Home</a>


</body>
</html>