<!DOCTYPE html>
<html>
<head>
    <title> Login Page </title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <div id="navbar">
        <a href="/">Homepage</a>
        <a href="/aboutUs">About Us</a>
        <a href="/faq">F.A.Q.s</a>
        <a href="/login">Login/Registration</a>
        <a href="https://www.youtube.com/watch?v=dQw4w9WgXcQ">Feeling Lucky?</a>
    </div>
    <h1 class="title">The Silver Surfer Snowboard Shop</h1>
    <!--
    <div class = "cartIcon">
        <a href="/cart">
        <img src="/images/shopping-cart.png">
        </a>
    </div>
    -->
    
    <div class="center-container">

    
        <div class="login-container">
            <form action="/login" method="POST">
                <h3><strong>Login</strong></h3>
                <label for="email">Username (Email):</label>
                <input type="email" name="email" required/>
                
                <label for="password">Password</label>
                <input type="password" name="password" required/>
            
                <button class="button">Log In</button>
            </form>

        </div>

        <h2> First Time User? Register Below!</h2>

        <div class="login-container">
            <form action="/register" method="POST">
                <h3><strong>Registration</strong></h3>

                <label for="name">Name:</label>
                <input type="name" name="name" required/>

                <label for="email">Email:</label>
                <input type="email" name="email" required/>
                
                <label for="Address">Address:</label>
                <input type="address" name="address" required/>

                <label for="City">City:</label>
                <input type="City" name="City" required/>
                
                <label for="State">State:</label>
                <input type="State" name="State" required/>

                <label for="Zip Code">Zip Code:</label>
                <input type="Zip Code" name="Zip Code" required/>
                
                
                <label for="password">Password</label>
                <input type="password" name="password" required/>
                
            
                <button class="button">Register</button>
            </form>

        </div>
    </div>

    
    <a href="/" id="backButton">Back to Home</a>


</body>
</html>